<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^v1/medecins/?$ v1/medecins.php [L]
    RewriteRule ^v1/medecins/([0-9]+)$ v1/medecins.php?id=$1 [L]
</IfModule>